table {
    width: 100%;
    border-collapse: collapse;
}

th,
#foot {
    background-color: #ddd;
    padding: 10px;
    text-align: center;
}

td {
    padding: 15px;
    border: 1px solid #ccc;
    vertical-align: top;
}

h2 {
    margin-top: 5px;
}

.destaque {
    background-color: lightyellow;
}

.exemplo {
    background-color: aqua;
}

footer {
    padding: 10px;
}